.tile-container {
    position: relative;
  }
  
  .tile {
    /* position: absolute; */
    /* width: 100px;
    height: 100px;
     */
     vertical-align: top;
  }
    .tile-overlay {
    position: absolute;
    width: 100px;
    height: 100px;
  }

  #grid {
  /* display: grid; */
  /* width: auto;
  height: auto; */
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-rows: repeat(auto-fill, 100px);
  /* grid-auto-flow: row; */
  grid-gap: 0; /* Adjust the gap between tiles if needed */
}

#controls {
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 2em;
}
